.container {
  padding: 20px;
  position: center;
    background color: #99FF66 ;

}

body {
    background color: #99FF66 ;
}

.box {
  border: 2px solid purple;
  height: 100px;
  width: 100px;
  background-color: #FFFFFF;
  margin-left: 10px;
  margin-bottom: 10px;
}

h1 {
    font-family: 'PT Sans Caption', sans-serif;
    color: purple;
    text-align: center;
}

h4 {
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;


}

.winner {
    background-image: url("panda.png");
    height: 100px;
    width: 100px;
    font-family: 'PT Sans Caption', sans-serif;

}

.loser {
    background-image: url("bamboo.png");
    height: 100px;
    width: 100px;
    font-family: 'PT Sans Caption', sans-serif;

}